<ion-menu menuId="announceMenu" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title color="danger">menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="sideMenu">
    <ion-list>
      <ion-item (click)="redirect('dashboard')">
        <ion-icon color="danger" name="home" slot="end"></ion-icon>
        <ion-label color="danger">dashboard</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="danger" name="person" slot="end"></ion-icon>
        <ion-label color="danger">perfil</ion-label>
      </ion-item>
      <ion-item (click)="redirect('help')">
        <ion-icon color="danger" name="chatbubbles" slot="end"></ion-icon>
        <ion-label color="danger">ajuda</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon color="danger" name="log-out" slot="end"></ion-icon>
        <ion-label color="danger">logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="" color="light"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center; font-size: 18px; margin-right: 5%;">
        buscar talentos
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row style="margin-top: 20px;">
        <ion-col class="rowStyle">
          <ion-icon name="microphone" color="danger"></ion-icon>
          <ion-select
            clearInput="true"
            multiple="false"
            mode="ios"
            style="margin-left: 7%;"
            cancelText="Cancelar"
            okText="Feito!"
            [interfaceOptions]="customAlertOptions"
            interface="alert"
            placeholder="talentos:"
            [(ngModel)]="queryTalento"

          >
            <ion-select-option
              multiple
              *ngFor="let talento of talentos"
              value="{{ talento.nome }}"
              >{{ talento.nome }}</ion-select-option
            >
          </ion-select>
        </ion-col>
        <ion-col class="rowStyle">
          <ion-icon name="musical-notes" color="danger"></ion-icon>
          <ion-select
            clearInput="true"
            multiple="false"
            mode="ios"
            style="margin-left: 5%;"
            cancelText="Cancelar"
            okText="Feito!"
            [interfaceOptions]="customAlertOptionsEstilo"
            interface="alert"
            placeholder="estilos musicais:"
            [(ngModel)]="queryEstilo"

          >
            <ion-select-option
              multiple
              *ngFor="let estiloMusical of estilosMusicais"
              value="{{ estiloMusical.nome }}"
              >{{ estiloMusical.nome }}</ion-select-option
            >
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button
          (click)="filtrar()"
          class="btnStyle"
          color="light"
          style="border-radius: 50px !important;"
        >
          filtrar
          <ion-icon class="filtroIcon" name="search" color="danger"></ion-icon>
        </ion-button>
      </ion-row>
      <!-- 
      <ion-row style="margin-top: 10px;">
        <ion-item class="itemBandas" *ngFor="let banda of bandas; let i = index">
          <ion-row>
            <h2>{{ banda.nome }}</h2>
            <p>{{ banda.talentoDesejado }}</p>
            <button (click)="showModal(banda)">Veja mais</button>
          </ion-row>
        </ion-item>
      </ion-row> -->
    </ion-grid>

    <ion-list style="margin-top: 10px;">
      <ion-item class="itemBandas" *ngFor="let banda of bandasFirebase; let i = index">
        <ion-thumbnail item-left>
          <ion-icon class="avatar" name="person" color="light"></ion-icon>
        </ion-thumbnail>
        <h2>{{ banda.data().nome }}</h2>
        <p>{{ banda.data().talento[0] }}</p>
        <button style="position:absolute; right: 5%; background-color: transparent;" fill="clear" item-right (click)="showModal(banda.data())">
          <ion-icon style="font-size: 35px;" name="add-circle" color="light"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</div>
