ion-header{

    ion-title{
        font-weight: 800;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
    }

}

ion-content{

    ion-title{
        font-weight: 700;
    }
    
    .logo{
        background-image: url('./../../assets/icon/LogoBranco.png');
        background-size: cover;
        font-size: 25vh;
        height: 231px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        position: relative;
    }
    
    h1{
        text-align:center;
        color: #ffffff;
        font-size: 2.0em;
    }

    h6{
        color: #ffffff;
        font-size: 1.0em;
    }

    ion-row{
        background: #ffffff;
        border-radius: 5px;
        margin-bottom: 25px;
    }
    
}
