<ion-header>
  <ion-toolbar class="header">
    <ion-title style="text-align: center;">
      Find Your Band
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item text-center lines="none">
      <ion-icon class="logo" color="light">
    </ion-icon>
  </ion-item>
  
  <ion-item text-center lines="none">
    <ion-label>
      <h1 >
        FYB
      </h1>
    </ion-label>
  </ion-item>
  
  <ion-item text-center lines="none">
    <ion-label>
      <h6>Find Your Band</h6>
    </ion-label>
  </ion-item>
  
</ion-content>