<ion-menu menuId="announceMenu" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title color="danger">menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="sideMenu">
    <ion-list>
      <ion-item (click)="redirect('dashboard')">
        <ion-icon color="danger" name="home" slot="end"></ion-icon>
        <ion-label color="danger">dashboard</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="danger" name="person" slot="end"></ion-icon>
        <ion-label color="danger">perfil</ion-label>
      </ion-item>
      <ion-item (click)="redirect('help')">
        <ion-icon color="danger" name="chatbubbles" slot="end"></ion-icon>
        <ion-label color="danger">ajuda</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon color="danger" name="log-out" slot="end"></ion-icon>
        <ion-label color="danger">logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="" color="light"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center; margin-right: 5%; font-size: 18px;">shows</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen padding scroll-y="false">
    <div class="container-fluid">
      <ion-slides pager>
        <ion-slide *ngFor="let show of showsList">
          <div class="container-slide" style="height: 410px">
            <img
              class="img-show"
              src="../../assets/show-slider/showImg.jpg"
              alt=""
            />
            <h3 class="titulo-slide">
              {{ show.nomeShow }}
            </h3>
            <h4 style="font-weight: 700">
              {{ show.dataShow }}
            </h4>
            <p>
              {{ show.descricao }}
            </p>
            <h5>
              {{ show.estiloShow }}
            </h5>
            <h6>
              {{ show.localShow }}
            </h6>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <ion-button
      class="btnStyle"
      color="light"
      style="border-radius: 50px !important;"
    >
      quero anunciar meu show
    </ion-button>
  </ion-content>
</div>
