ion-title{
    font-size: 25px;
    color: #f4f5f8e0;
}

ion-list ion-item{
    font-size: 20px;
}

.sideMenu{
    --ion-background-color: #f4f5f8e0 !important;
    background: #f4f5f8e0 !important;
}