<ion-menu menuId="dashboardMenu" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title color="danger">menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="sideMenu">
    <ion-list>
      <ion-item>
        <ion-icon color="danger" name="home" slot="end"></ion-icon>
        <ion-label color="danger">dashboard</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="danger" name="person" slot="end"></ion-icon>
        <ion-label color="danger">perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="danger" name="chatbubbles" slot="end"></ion-icon>
        <ion-label color="danger" >ajuda</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="danger" name="log-out" slot="end"></ion-icon>
        <ion-label color="danger">logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <!-- <img src="../../assets/icon/Logo-Branco.svg" style="display: inline-block; width: 40px; height: 40px; margin-left: 40.5%;"> -->
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-menu-controller></ion-menu-controller> -->

  <ion-content padding>
    <ion-grid style="width: 80%;">
      
      <ion-row class="rowStyle" style="border-radius: 50px;">
        <ion-button (click)="redirectAnnounce()" class="btnStyle" color="light" style="border-radius: 50px !important;">
          anunciar
          <ion-icon name="person-add" color="danger"></ion-icon>
        </ion-button>
      </ion-row>
      
      <ion-row class="rowStyle" style="border-radius: 50px;">
        <ion-button class="btnStyle" color="light" style="border-radius: 50px !important;">
          buscar
          <ion-icon name="search" color="danger"></ion-icon>
        </ion-button>
      </ion-row>
      
      <ion-row class="rowStyle" style="border-radius: 50px;">
        <ion-button class="btnStyle" color="light" style="border-radius: 50px !important;">
          shows
          <ion-icon name="star" color="danger"></ion-icon>
        </ion-button>
      </ion-row>
      
      <ion-row class="rowStyle" style="border-radius: 50px;">
        <ion-button class="btnStyle" color="light" style="border-radius: 50px !important;">
          ajuda
          <ion-icon name="help-circle" color="danger"></ion-icon>
        </ion-button>
      </ion-row>
      
    </ion-grid>
  </ion-content>
</div>