// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '../node_modules/@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content{
    background: #ffefba; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d1d1d1, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d1d1d1, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ion-header{
    --ion-background-color: -webkit-linear-gradient(to right, rgb(25, 9, 128), #0D0259); /* Chrome 10-25, Safari 5.1-6 */;  /* Chrome 10-25, Safari 5.1-6 */;
    background: #0D0259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(25, 9, 128), #0D0259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(25, 9, 128), #0D0259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ion-input{
    margin-bottom: 20px; 
    border: 2px solid;
    border-color: #0D0259;
    border-radius: 17px;
    background-color: #ffffff;
}