// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '../node_modules/@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face{
    font-family:"Solomon Sans";
    src: url('./assets/solomon_sans/Solomon-Sans-Light.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family:"Solomon Sans";
    src: url('./assets/solomon_sans/Solomon-Sans-Normal.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family:"Solomon Sans";
    src: url('./assets/solomon_sans/Solomon-Sans-SemiBold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family:"Solomon Sans";
    src: url('./assets/solomon_sans/Solomon-Sans-Bold.otf');
    font-weight: 900;
    font-style: normal;
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title, ion-input{
    font-family: 'Open Sans' !important;
    }

ion-content{
    --ion-background-color: linear-gradient(to right, #e26c6c, #e26c6c);
    background: #e26c6c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e26c6c, #e26c6c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e26c6c, #e26c6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ion-header{
    // --ion-background-color: -webkit-linear-gradient(to right, rgb(25, 9, 128), #0D0259); /* Chrome 10-25, Safari 5.1-6 */;  /* Chrome 10-25, Safari 5.1-6 */;
    --ion-background-color: #e26c6c;
    background: #e26c6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e26c6c, #e26c6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e26c6c, #e26c6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ion-title{
    font-size: 23px;
    color: #f4f5f8e0;
}

ion-list ion-item{
    font-size: 20px;
}

.sideMenu{
    --ion-background-color: #f4f5f8e0 !important;
    background: #f4f5f8e0 !important;
}

.rowStyle{
    border-radius: 50px;
    border-radius: 25px;
}

    ion-slide {
        color: #ffffff;
    }

.swiper-slide {
    display: block;
  }
  ion-slide > h2 {
    margin-top: 2.0rem;
  }

  ion-slide > img {
    max-height: 50%;
    max-width: 45%;
    margin: 36px 0;
  }

  .iconSlide {
    max-height: 50%;
    max-width: 60%;
    font-size: 170px;
    margin: 36px 0;
  }
  

// ion-input{
//     margin-bottom: 20px; 
//     border: 2px solid;
//     border-color: #0D0259;
//     border-radius: 17px;
//     background-color: #ffffff;
// }