ion-content {
  ion-title {
    font-weight: 700;
  }

  .logo {
    height: 230px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    position: relative;
  }

  h1 {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
  }

  h2 {
    position: absolute;
    font-size: 20px;
    top: 9%;
    font-weight: 600;
    left: 27%;
    color: #ffffff;
  }

  p {
    position: absolute;
    font-size: 13px;
    left: 30%;
    color: #ffffff;
  } 

  .imgFyb {
    width: 75%;
    height: 100%;
    background-image: url("../../assets/icon/Logo-Branco.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btnBandas{
    position: absolute;
  }

  h6 {
    color: #ffffff;
    font-size: 1em;
  }

  .rowStyle {
    background: #ffffff;
    padding-left: 15px;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 10%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    white-space: nowrap;
    ion-icon {
      margin-top: 9%;
      position: absolute;
    }

    input[type="date"]:before {
      content: attr(placeholder) !important;
      color: #aaa;
      margin-right: 0.5em;
    }
    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
      content: "";
    }
  }

  .turnRed {
    color: red;
    font-weight: 500;
  }

  .btnStyle {
    color: #ffffff;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    --border-radius: 50px;
    margin-top: 6%;
    text-transform: lowercase !important;
    font-size: 1em;

    ion-icon {
      position: absolute;
      left: 10%;
      font-size: 35px;
    }
  }
  a {
    text-decoration: none;
  }
}
